.selected-asoc__text-area{
max-width: 200px;
font-size: large;
}
.selected-asoc__body{
    width: 100%;
    height: calc( 100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}