*{
    /*Position*/

    /*Box Model*/
    margin: 0;
    padding: 0;
    /*Typography*/
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    /*Visual*/
    /*Misc*/

}
body{
    background-color: #F7F5F3;
    min-width: 1000px;
    min-height: 600px;
}
.title{
    color: #A9A8A8;
    text-align: center;
}
.mb-s{
    margin-bottom: 5px;
}

.mb-m{
    margin-bottom: 10px;
}

.mb-b{
    margin-bottom: 20px;
}

.mb-eb{
    margin-bottom: 40px;
}

.mt-s{
    margin-top: 5px;
}

.mt-m{
    margin-top: 10px;
}

.mt-b{
    margin-top: 20px;
}

.mt-eb{
    margin-top: 40px;
}

.ml-s{
    margin-left: 10px;
}
.ml-m{
    margin-bottom: 20px;
}
.ml-b{
    margin-bottom: 40px;
}

.no-result{
    display: block;
    text-align: center;
}
.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 60px);
}
/*Order*/
    /*Position*/

    /*Box Model*/

    /*Typography*/

    /*Visual*/
    
    /*Misc*/